.mf {
	color: #555;
	border: 1px double #000000;
	font-size: 14px;
}

#callback {
	width: 632px;
	margin-right: auto;
	margin-left: auto;
}

#MooFlow {
	margin-right: auto;
	margin-left: auto;
	/*[disabled]margin-top:-85px;*/
}

.mf * {
	outline-color: invert;
	outline-style: none;
	outline-width: medium;
	-moz-user-select: none;
	border: none;
	padding: 0;
	margin: 0;
}

#MooFlow.mf IMG {
	
}

.mf DIV.loader {
	position: absolute;
	text-align: center;
	z-index: 10000;
	margin: 1em auto;
	top: 45%;
	width: 100%;
	background: #FFF url(../media/white/spinner.gif) no-repeat 50% 0;
	padding: 30px 0;
}

.mf DIV.caption {
	position: absolute;
	text-align: center;
	z-index: 10000;
	margin: 1em auto;
	bottom: 50px;
	width: 100%;
}

.mf DIV.mfNav {
	position: absolute;
	z-index: 10001;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	bottom: 20px;
	font-size: 1px;
	line-height: 1px;
}

.mf DIV.autoPlayCon {
	float: left;
	width: 10%;
	padding-left: 3%;
	height: 32px;
}

.mf A.play,.mf A.stop {
	width: 34px;
	height: 32px;
	float: left;
	cursor: pointer;
}

.mf A.play {
	background: url(../media/white/play.gif) no-repeat;
}

.mf A.stop {
	background: url(../media/white/stop.gif) no-repeat;
}

.mf DIV.sliderCon {
	float: left;
	width: 74%;
}

.mf A.sliderNext {
	background: url(../media/white/left.gif) no-repeat;
}

.mf A.sliderPrev {
	background: url(../media/white/right.gif) no-repeat;
}

.mf A.sliderNext,.mf A.sliderPrev {
	text-decoration: none;
	width: 31px;
	height: 31px;
	cursor: pointer;
	float: left;
}

.mfNav {
	position: relative;
	/*[disabled]top:200px;*/
}

.mf DIV.resizeCon {
	float: right;
	width: 10%;
	padding-right: 3%;
	height: 32px;
}

.mf A.resize {
	width: 32px;
	height: 32px;
	float: right;
	cursor: pointer;
	background: url(../media/white/resize.gif) no-repeat;
}

.mf DIV.slider {
	background: url(../media/white/middle.gif) repeat-x;
	height: 31px;
	position: relative;
	text-align: left;
	float: left;
}

.mf DIV.knob {
	margin-top: 5px;
	height: 21px;
	background: url(../media/white/middle-slider.gif) repeat-x right center;
}

.mf DIV.knobleft {
	background: url(../media/white/left-slider.gif) left;
	width: 3px;
	height: 21px;
}

#mooloader {
	position: absolute;
	text-align: center;
	z-index: 10000;
	margin: 1em auto;
	top: 31%;
	width: 50%;
	background: url(../media/white/spinner.gif) no-repeat 70% 0;
	padding: 10px 0;
}