@import url(slick-default-theme.css);
/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/
.slick-header.ui-state-default,.slick-headerrow.ui-state-default {
	width: 100%;
	overflow: hidden;
	border-left: 0px solid #000000;
}

.slick-header-columns,.slick-headerrow-columns {
	width: 999999px;
	position: relative;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
}

.slick-header-column.ui-state-default {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 4px;
	border-right: 1px solid #C0C0C0;
	border-left: 0px solid #000000;
	border-top: 0px solid #000000;
	border-bottom: 0px solid #000000;
	float: left;
	text-align: center;
}

.slick-center {
	text-align: center;
}

.slick-published A IMG {
	position: relative;
	left: 44px;
}

.slick-headerrow-column.ui-state-default {
	padding: 4px;
}

.slick-header-column-sorted {
	font-style: italic;
	text-align: center;
}

.slick-sort-indicator {
	display: inline-block;
	width: 8px;
	height: 5px;
	margin-left: 4px;
}

.slick-sort-indicator-desc {
	background: url(../images/sort-desc.gif);
}

.slick-sort-indicator-asc {
	background: url(../images/sort-asc.gif);
}

.slick-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 4px;
	right: 0px;
	top: 0;
	height: 100%;
}

.slick-sortable-placeholder {
	background: #C0C0C0;
}

.grid-canvas {
	position: relative;
	outline: 0;
}

.slick-row.ui-widget-content,.slick-row.ui-state-active {
	position: absolute;
	border: 0px solid #000000;
	width: 100%;
}

.slick-cell,.slick-headerrow-column {
	position: absolute;
	border: 1px solid transparent;
	border-right: 1px dotted #C0C0C0;
	border-bottom-color: #C0C0C0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;
	margin: 0;
	white-space: nowrap;
	cursor: default;
}

.slick-group {
	
}

.slick-group-toggle {
	display: inline-block;
}

.slick-cell.highlighted {
	background: #87CEFA;
	background: url(rgba(0,) url(0.2) 0 255;
	/*-webkit-transition: all 0.5s
-moz-transition: all 0.5s
transition: all 0.5s*/
}

.slick-cell.flashing {
	border: 1px solid #FF0000 !important;
}

.slick-cell.editable {
	z-index: 11;
	overflow: visible;
	background: #FFFFFF;
	border-color: #000000;
	border-style: solid;
}

.slick-cell:focus {
	outline: none;
}

.slick-reorder-proxy {
	display: inline-block;
	background: #0000FF;
	opacity: 0.15;
	filter: alpha(opacity =   15);
	cursor: move;
}

.slick-reorder-guide {
	display: inline-block;
	height: 2px;
	background: #0000FF;
	opacity: 0.7;
	filter: alpha(opacity =   70);
}

.slick-selection {
	z-index: 10;
	position: absolute;
	border: 2px dashed #000000;
}

.slickGridContainer LI {
	background: url(../images/arrow_right_spearmint.png) no-repeat center
		left;
	padding: 0 0 0 14px;
	list-style: none;
	margin: 0;
}

.grid-header {
	border: 1px solid #808080;
	border-bottom: 0;
	border-top: 0;
	background: url(../images/header-bg.gif) repeat-x center top;
	color: #000000;
	height: 24px;
	line-height: 24px;
}

.grid-header LABEL {
	display: inline-block;
	font-weight: bold;
	margin: auto auto auto 6px;
}

.grid-header .ui-icon {
	margin: 4px 4px auto 6px;
	background-color: transparent;
	border-color: transparent;
}

.grid-header .ui-icon.ui-state-hover {
	background-color: #FFFFFF;
}

.grid-header #txtSearch {
	margin: 0 4px;
	padding: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid #C0C0C0;
}

.options-panel {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 1px solid #C0C0C0;
	background: #F0F0F0;
	padding: 4px;
	margin-bottom: 20px;
	width: 320px;
	position: absolute;
	top: 0px;
	left: 650px;
}
/*Individual cell styles*/
.slick-cell.task-name {
	font-weight: bold;
	text-align: right;
}

.slick-cell.task-percent {
	text-align: right;
}

.slick-cell.cell-move-handle {
	font-weight: bold;
	text-align: right;
	border-right: 1px solid #808080;
	background: #EFEFEF;
	cursor: move;
}

.cell-move-handle:hover {
	background: #B6B9BD;
}

.slick-row.selected .cell-move-handle {
	background: #D5DC8D;
}

.slick-row .cell-actions {
	text-align: left;
}

.slick-row.complete {
	background-color: #DFD;
	color: #555;
}

.percent-complete-bar {
	display: inline-block;
	height: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.slick-hidden {
	display: none;
}
/*Slick.Editors.Text, Slick.Editors.Date*/
.slickGridContainer INPUT.editor-text {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	background: transparent;
	outline: 0;
	padding: 0;
}

.ui-datepicker-trigger {
	margin-top: 2px;
	padding: 0;
	vertical-align: top;
}
/*Slick.Editors.PercentComplete*/
.slickGridContainer INPUT.editor-percentcomplete {
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	background: transparent;
	outline: 0;
	padding: 0;
	float: left;
}

.editor-percentcomplete-picker {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 100%;
	background: url(../images/pencil.gif) no-repeat center center;
	overflow: visible;
	z-index: 1000;
	float: right;
}

.editor-percentcomplete-helper {
	border: 0 solid #808080;
	position: absolute;
	top: -2px;
	left: -9px;
	background: url(../images/editor-helper-bg.gif) no-repeat top left;
	padding-left: 9px;
	width: 120px;
	height: 140px;
	display: none;
	overflow: visible;
}

.editor-percentcomplete-wrapper {
	background: #F5F5DC;
	padding: 20px 8px;
	width: 100%;
	height: 98px;
	border: 1px solid #808080;
	border-left: 0;
}

.editor-percentcomplete-buttons {
	float: right;
}

.editor-percentcomplete-buttons BUTTON {
	width: 80px;
}

.editor-percentcomplete-slider {
	float: left;
}

.editor-percentcomplete-picker:hover .editor-percentcomplete-helper {
	display: block;
}

.editor-percentcomplete-helper:hover {
	display: block;
}
/*Slick.Editors.YesNoSelect*/
.slickGridContainer SELECT.editor-yesno {
	width: 100%;
	margin: 0;
	vertical-align: middle;
}
/*Slick.Editors.Checkbox*/
.slickGridContainer INPUT.editor-checkbox {
	margin: 0;
	height: 100%;
	padding: 0;
	border: 0;
}

.cell-title {
	font-weight: bold;
}

.cell-effort-driven {
	text-align: center;
}

.cell-selection {
	border-right-color: #C0C0C0;
	border-right-style: solid;
	background: #F5F5F5;
	color: #808080;
	text-align: right;
	font-size: 10px;
}

.slick-row.selected .cell-selection {
	background-color: transparent;
	/*show default selected row background*/
}