<div id="email_container">
	<span id="loading"></span>
	<div id="mm_email">
		<input type="hidden" value="{item_id}" name="item_id" /> <label>{name}</label>
		<input id="mm_name" name="mm_name" type="text" /> <label>{email}</label>
		<input id="mm_email" name="mm_email" type="text" /> <input
			class="button" type="submit" value="{submit}"
			onclick="ajaxRequest('mm_loading', 'index.php?option=com_maianmedia&format=raw&task=verifyEmail', '1')" />
		<div id="mm_loading"></div>
	</div>
</div>
