
<div class="download_item">
	<p class="download-p">
		{artwork} <a id="mm_zip" href="{download_album_url}"
			title="{download_this_item}"> <img
			src="components/com_maianmedia/templates/zoo/assets/media/cart/zip_icon.jpg"
			height="35px" alt="{download_this_item}"
			title="Download Full Album Zip File - FLAC format" /> FLAC <span
			style="font-size: 10px; font-style: italic;">Zip</span> </a> <a
			class="modal-button" href="{download_url}" title="{view_this_item}"
			rel="{handler: 'iframe', size: {x: 600, y: 475}}"> <img
			src="components/com_maianmedia/templates/zoo/assets/media/cart/flac_icon.png"
			height="35px" alt="{download_this_item}" title="{download_this_item}" />
			FLAC <span style="font-size: 10px; font-style: italic;">Tracks</span>
		</a>
	</p>
	<div class="item">{item_name}</div>
</div>


