<!-- Downloads Page: Custom HTML for furious artisans -->

<div class="download_item">
	<p class="download-p">
		{artwork} <a id="mm_zip" class="download-button teal"
			href="{download_album_url}" title="Download Full Album Zipped"> <span
			style="font-weight: bold">FLAC</span> <span>Zip</span> </a> <a
			class="modal-button download-button" href="{download_url}"
			title="Download Tracks Individually"
			rel="{handler: 'iframe', size: {x: 600, y: 475}}"> <span
			style="font-weight: bold">FLAC</span> <span>Tracks</span>
		</a>
	</p>
	<div class="item">{item_name}</div>
</div>