.header {
	background: #000;
	cursor: pointer;
	padding: 4px;
}

.header:hover {
	background-color: #666;
}

.selected {
	background-color: #F00;
	color: #FFF;
}

.content {
	background: #FFF;
	padding: 4px;
}

#basic-accordian {
	border: 5px solid #EEE;
}

.accordion_headings {
	padding: 5px;
	background: url(title_repeater.jpg);
	color: #FFFFFF;
	border: 1px solid #FFF;
	cursor: pointer;
	font-weight: bold;
}

.accordion_headings:hover {
	background: #00CCFF url(title_repeater_hover.jpg);
}

.accordion_child {
	padding: 15px;
	background: #FFF;
}

.header_highlight {
	background: #00CCFF url(title_repeater_hover.jpg);
}