
<div class="download_item">
	<p class="download-p">
		<a id="mm_zip" href="{download_album_url}"
			title="{download_this_item}"> <img
			src="components/com_maianmedia/media/cart/free_download.png"
			alt="{download_this_item}" title="{download_this_item}" /> </a> <a
			class="modal-button" href="{download_url}" title="{view_this_item}"
			rel="{handler: 'iframe', size: {x: 350, y: 400}}"> <img
			src="components/com_maianmedia/media/cart/small_download.gif"
			alt="{download_this_item}" title="{download_this_item}" /> </a>{artwork}
	</p>
	<div class="item">{item_name}</div>
</div>


