DIV.filemanager-container {
	display: none;
}

DIV.filemanager * {
	outline: 0;
}

DIV.filemanager A IMG {
	border: 0;
}

DIV.filemanager,DIV.filemanager BUTTON,DIV.filemanager LABEL,DIV.filemanager H1
	{
	width: auto;
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
}

DIV.filemanager {
	border: 1px solid #BEBEBE;
	background: #EEE;
	position: absolute;
	z-index: 1001;
	width: 800px;
	height: 450px;
}

DIV.filemanager DIV.filemanager-menu {
	position: absolute;
	height: 30px;
	left: 30%;
	width: 70%;
	bottom: 0;
	line-height: 30px;
	border-top: 1px solid #BEBEBE;
	background: url(../../../utilities/filemanager/Assets/menu.png) repeat-x;
}

DIV.filemanager BUTTON {
	cursor: pointer;
	height: 22px;
	line-height: 22px;
	margin: 4px 5px;
	padding: 0 2px;
	color: #333;
	text-shadow: #eee 1px 1px 1px;
	clear: none;
	background: url(../../../utilities/filemanager/Assets/button.png)
		repeat-x;
	border: 1px solid #A1AEB9;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

DIV.filemanager-engine-trident4 BUTTON,DIV.filemanager-engine-trident5 BUTTON
	{
	padding: 0 0.25em;
	overflow: visible;
}

DIV.filemanager-menu BUTTON {
	float: right;
}

DIV.filemanager BUTTON:hover,DIV.filemanager BUTTON.hover,DIV.filemanager BUTTON:focus
	{
	border: 1px solid #5F676E;
}

DIV.filemanager BUTTON.disabled,DIV.filemanager BUTTON.disabled:hover,DIV.filemanager BUTTON.disabled:focus
	{
	cursor: default;
	color: #666;
	text-shadow: none;
	background:
		url(../../../utilities/filemanager/Assets/button_disabled.png)
		repeat-x;
	border-color: #BABABA;
}

DIV.filemanager BUTTON.filemanager-open {
	font-weight: bold;
}

DIV.filemanager-menu LABEL {
	cursor: pointer;
	float: right;
	font-size: 11px;
	width: auto;
}

DIV.filemanager-menu DIV.loader {
	float: left;
	width: 16px;
	height: 16px;
	margin: 8px 0;
	background: url(../../../utilities/filemanager/Assets/loader.gif)
		no-repeat;
}

DIV.filemanager UL {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.8em;
	overflow: auto;
	overflow-x: hidden;
	zoom: 1;
}

DIV.filemanager UL LI {
	background: none;
	list-style-image: none;
	list-style-type: none;
	list-style: none;
	line-height: 1.8em;
	margin: 0;
	padding: 0;
	height: 21px;
	white-space: nowrap;
	width: 1000px;
}

DIV.filemanager UL.filemanager-browser {
	left: 0px;
	top: 0px;
	height: 100%;
	width: 30%;
	border: 0;
	border-right: 1px solid #BEBEBE;
	background: #C1C7CF
		url(../../../utilities/filemanager/Assets/filelist.png) repeat-x;
}

DIV.filemanager UL LI SPAN.fi {
	height: 21px;
	padding-left: 5px;
	color: #000;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

DIV.filemanager UL LI SPAN.fi SPAN {
	white-space: nowrap;
	display: block;
	width: 90%;
	overflow: hidden;
}

DIV.filemanager-engine-trident4 UL LI SPAN.fi SPAN,DIV.filemanager-engine-trident5 UL LI SPAN.fi SPAN,DIV.filemanager-engine-presto UL LI SPAN.fi SPAN,DIV.filemanager UL LI:hover SPAN.fi SPAN
	{
	width: 65%;
	overflow: hidden;
}

DIV.filemanager UL LI SPAN.dir {
	background-color: transparent;
}

DIV.filemanager UL LI SPAN.droppable {
	background-color: #99B7E7;
}

UL.filemanager-browser A,UL.filemanager-browser SPAN {
	position: relative;
}

DIV.filemanager UL LI A.selected,DIV.filemanager UL LI SPAN.selected {
	background:
		url(../../../utilities/filemanager/Assets/filelist_selected.png)
		repeat-x;
	color: #EEE;
	outline: none;
}

DIV.filemanager UL LI IMG {
	display: block;
	float: left;
	margin: 3px 3px 0 0;
}

DIV.filemanager UL LI IMG.browser-icon {
	float: right;
}

DIV.filemanager SPAN.notice {
	position: absolute;
	bottom: 16px;
	left: 16px;
}

DIV.filemanager DIV.filemanager-close {
	position: absolute;
	right: -10px;
	top: -10px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url(../../../utilities/filemanager/Assets/button.png)
		repeat-x;
	border: 1px solid #A1AEB9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

DIV.filemanager DIV.filemanager-close IMG {
	padding: 2px;
}

DIV.filemanager-infos {
	position: absolute;
	left: 30%;
	top: 0;
	width: 70%;
	line-height: 1.6em;
	overflow: auto;
}

DIV.filemanager-head {
	height: 32px;
	overflow: hidden;
}

IMG.filemanager-icon {
	float: left;
	margin: 10px 12px;
}

DIV.filemanager H1 {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 32px;
	line-height: 32px;
	color: #333;
	font-size: 20px;
	letter-spacing: 1px;
	overflow: hidden;
	white-space: nowrap;
	background-color: transparent;
}

DIV.filemanager H2 {
	margin: 0;
	border-top: 1px solid #BEBEBE;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 0 0 5px;
	clear: both;
}

DIV.filemanager DL {
	margin: 5px 0;
	width: 100%;
	clear: both;
	overflow: auto;
}

DIV.filemanager DT,DIV.filemanager DD {
	float: left;
	line-height: 20px;
	font-size: 11px;
}

DIV.filemanager DT {
	clear: both;
	width: 22%;
	margin-left: 5%;
	font-weight: bold;
}

DIV.filemanager DD {
	width: 60%;
	white-space: nowrap;
	overflow: auto;
}

DIV.filemanager DIV.margin {
	margin-left: 15px;
}

DIV.filemanager DD.filemanager-dir A.icon {
	border: 1px solid #BEBEBE;
	padding: 2px 5px 2px 20px;
	text-decoration: none;
	background: #EEE
		url(../../../utilities/filemanager/Assets/Icons/dir.png) no-repeat 2px
		0;
	color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

DIV.filemanager DD.filemanager-dir A.icon:hover {
	text-decoration: none;
	background-color: #FFF;
}

DIV.filemanager DD.filemanager-dir A.selected,DIV.filemanager DD.filemanager-dir A.selected:hover
	{
	margin: 0 1px;
	background-color: transparent;
	border: none;
	cursor: auto;
}

DIV.filemanager-preview {
	margin-top: 5px;
}

DIV.filemanager-preview IMG.preview {
	margin: 0 auto 1em;
	display: block;
	max-height: 100px;
}

DIV.filemanager-engine-trident4 DIV.filemanager-preview IMG.preview {
	height: 100px;
}

DIV.filemanager-preview UL,DIV.filemanager-preview DIV.textpreview {
	border: 1px solid #BEBEBE;
	background: #FFF;
	padding: 2px;
	margin: 1em auto;
	width: 490px;
	height: 200px;
	overflow: auto;
}

DIV.filemanager-preview DIV.textpreview {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
}

DIV.filemanager-preview DIV.object {
	width: 200px;
	height: 20px;
	border: 1px solid #BEBEBE;
	margin: 0 0 1em 190px;
	overflow: hidden;
}

DIV.filemanager-container IMG.browser-add {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 1010;
}
/*UPLOAD*/
DIV.filemanager-container .file SPAN {
	padding: 0 5px 0 0;
}

DIV.filemanager-container .file .file-size {
	color: #666;
}

DIV.filemanager-container .file .file-cancel {
	cursor: pointer;
	padding-left: 5px;
	float: right;
}

DIV.filemanager-container .file .file-progress {
	margin-top: 5px;
	float: right;
	width: 125px;
	height: 12px;
	background-image:
		url(../../../utilities/filemanager/Assets/progress.gif);
}

DIV.filemanager DIV.checkbox {
	float: left;
	height: 12px;
	width: 16px;
	margin: 10px 3px 0;
	background: url(../../../utilities/filemanager/Assets/checkbox.png)
		no-repeat;
}

DIV.filemanager DIV.checkboxChecked {
	background-position: 0 -12px;
}
/*SELECTED FILE*/
DIV.selected-file IMG {
	vertical-align: bottom;
	padding: 0 3px 0 0;
}

DIV.selected-file SPAN {
	line-height: 16px;
}

DIV.selected-file .file-cancel {
	cursor: pointer;
	padding: 0 0 0 5px;
}