/*upload*/
.filemanager-uploader UL.filemanager-uploader-list {
	padding: 2px 5px;
}

.filemanager-uploader LI.file IMG.icon,.filemanager-uploader LI.file IMG.file-cancel
	{
	position: relative;
	top: 3px;
}

.filemanager-uploader LI.file IMG.icon {
	padding-right: 4px;
}
/*Overlay*/
DIV.overlay {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 999;
	background: #AAA;
}
/*Dialog*/
DIV.overlay-dialog {
	z-index: 1999;
	background: #FFF;
}

DIV.dialog {
	position: absolute;
	display: none;
	z-index: 2000;
	width: 229px;
	padding-bottom: 40px;
	color: #BEBEBE;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	background: url(rgba(0,) url(0.8) 0 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px*/
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}

DIV.dialog-engine-trident {
	background: #000;
}

DIV.dialog-engine-trident4 {
	width: 249px;
}

DIV.dialog A {
	color: #AAA;
}

DIV.dialog A:hover {
	text-decoration: none;
}

DIV.dialog DIV {
	margin: 10px;
}

DIV.dialog INPUT,DIV.dialog SELECT {
	width: 94%;
	margin: 20px 2%;
	padding: 2px 1%;
	border: 1px solid #BEBEBE;
	background: #FFF;
	color: #333;
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}

DIV.dialog-engine-trident4 INPUT,DIV.dialog-engine-trident5 INPUT {
	width: 80%;
}

DIV.dialog BUTTON {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: auto;
	height: 22px;
	padding: 2px;
	border: 1px solid #BEBEBE;
	cursor: pointer;
	color: #333;
	text-shadow: #eee 1px 1px 1px;
	font-family: Tahoma, sans-serif;
	letter-spacing: 0;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
	background: url(../Images/button.png) repeat-x;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

DIV.dialog-engine-trident4 BUTTON,DIV.dialog-engine-trident5 BUTTON {
	padding: 0 0.25em;
	overflow: visible;
}

DIV.dialog BUTTON.dialog-decline {
	right: auto;
	left: 15px;
}